
/.idea
/.idea
/.idea/dictionaries
/.idea/dictionaries/Favius.xml
/.idea/scopes
/.idea/scopes/scope_settings.xml
/.idea/codeStyleSettings.xml
/.idea/DodontoF.iml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/vendor